@model IEnumerable<Alkemy.Models.TBL_User_Info>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsernameUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Roles)
        </th>


    </tr>
    
    @foreach (var item in Model)
    {
        
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsernameUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PasswordUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.C_Roles)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

</table>
